<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astro Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Imágenes que tomamos con mis colegas</h2>
    <div class="gallery">
        <img src="https://firebasestorage.googleapis.com/v0/b/ofc-website-firebase.appspot.com/o/big-data%2FNGC104.jpg?alt=media&token=de535829-39fe-49ed-b20a-bb9fc67f5883" alt="NGC104">
        <img src="https://firebasestorage.googleapis.com/v0/b/ofc-website-firebase.appspot.com/o/big-data%2FNGC1365.jpg?alt=media&token=045f7e7f-40d8-4850-ae64-89fb81eaefe4" alt="NGC1365">
        <img src="https://firebasestorage.googleapis.com/v0/b/ofc-website-firebase.appspot.com/o/big-data%2FNGC2070.jpg?alt=media&token=22636929-596e-4272-bf38-681d8df6a7f5" alt="NGC2070">
        <img src="https://firebasestorage.googleapis.com/v0/b/ofc-website-firebase.appspot.com/o/big-data%2FNGC253.jpg?alt=media&token=f905279e-70e7-4564-b481-0a489c250f93" alt="NGC253">
        <img src="https://firebasestorage.googleapis.com/v0/b/ofc-website-firebase.appspot.com/o/big-data%2FNGC7293.jpg?alt=media&token=2c16dd08-893a-4eef-8e95-9a93450165d6" alt="NGC7293">
    </div>
</body>
</html>